body {
    margin: 0;
    padding: 0;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-position: 50% -80px;
    background-color: rgb(184, 184, 184);
    background-size: 100%;
    position: fixed;
    
}
form{
    margin-top: 100px;
    margin-left: 12%;
    padding: 0;
}
.form{
    width: 400px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;   
    margin-left: 118%;
    opacity: 0.8;
}
.input1{
    border: 1px black solid ;
    border-radius: 5px;
    width: 300px;
    height: 30px;
}
.sous1{
    border-radius: 8px;
    width: 300px;
    height: 30px;
    
}
.sous1:hover{
    background-color: rgb(23, 124, 219);
    opacity: 0.5;
}
.input2{
    border: 1px black solid ;
    border-radius: 5px;
    width: 300px;
    height: 30px;
}
.sous2{
    border-radius: 8px;
    width: 305px;
    height: 30px;
}
.sous2:hover{
    background-color: rgb(23, 124, 219);
    opacity: 0.5;
}
.veri{
    width: 400px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;  
    margin-left: 118%;
    opacity: 0.8; 
}
br{
    margin: 0;
    padding: 0;
}
.entete1{
    text-align: center;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.entete2{
    text-align: center;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.sous21{
    border-radius: 8px;
    width: 305px;
    height: 30px;
}
.sous21:hover{
    background-color: rgb(23, 124, 219);
    opacity: 0.5;
}
.sous22{
    border-radius: 8px;
    width: 305px;
    height: 30px;
}
.sous22:hover{
    background-color: rgb(23, 124, 219);
    color: black;
    opacity: 0.5;
}
.p_ou{
    text-align: center;
    margin-right: 60px;
}
a{
    text-decoration: none;
}
